.flex-item1{
    position:sticky;
    float:right;
}

.padding-medium{
    float:left;
    width: 305px;
    margin-top: 150px;
}

p.tm-section-description.first  {
    font-style:italic;
}

p.tm-section-description:first-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px; 
    color: #87CEFA;
}

.tm-section-title:hover{
        background: rgba(0,0,0,0);
        color: #3a7999;
        box-shadow: inset 0 0 0 3px #3a7999;
    }

    .tm-banner-text:first-letter
    {
        font-size: 30px;
        color: #87CEFA;
    }

    .tm-sidebar{ 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    }

     .tm-content-box{
        box-shadow: 0 0 10px rgba(0,0,0,0.5); 
        padding: 10px;
    }

.tm-section-title{
    color: gainsboro;
    letter-spacing: 5px;
}

h2+p{
    font-style: italic;
}

    